@model WebAsada.ViewModels.DetailsChargeTypeVM 

<partial name="_PageTitle" model="@("Modificar Tipo Persona")" />
<div class="row">
    <div class="col-md-11">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <partial name="../ChargeType/Partial/_Editor" model="Model" />
            <partial name="_GeneralEntityLayout" model="Model" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>  
        $("#VatCategoryOption").change(function () {
            $('#VatRateInput').prop('disabled', !($('#VatCategoryOption').val() === "True"));
        });
    </script>
}
