@model WebAsada.ViewModels.SupplierVM
@inject WebAsada.Services.IYesNoOptions yesNoCollection

<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label asp-for="ProductTypeId" class="control-label"></label>
            <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
        </div>
    </div>
    <div class="col-md-2 vertical-align">
        <div class="form-group">
            <label asp-for="IsActive" class="control-label"></label>
            <select data-live-search="true" asp-for="IsActive" asp-items="yesNoCollection.GetOptions()" class="form-control"></select>
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ContactName" class="control-label"></label>
            <input asp-for="ContactName" class="form-control" />
            <span asp-validation-for="ContactName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <textarea rows="4" asp-for="Address" class="form-control"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Schedule" class="control-label"></label>
            <textarea rows="4" asp-for="Schedule" class="form-control"></textarea>
            <span asp-validation-for="Schedule" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Comments" class="control-label"></label>
            <textarea rows="4" asp-for="Comments" class="form-control"></textarea>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
    </div>
</div>

<partial name="_UpdateButtons" />   