@model WebAsada.ViewModels.ContractVM
<partial name="_PageTitle" model="@("Registrar Contrato")" />

<div class="row">
    <div class="col-md-11">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="../Contract/Partial/_Editor" model="Model" />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            $('#PeopleSelect').change(function () {
                var selectedPersonId = $("#PeopleSelect").val();

                if (selectedPersonId != null && selectedPersonId != '') {

                    $.getJSON('@Url.Action("GetEstatesByPerson")', { id: selectedPersonId }, function (estates) {
                        var estatesSelect = $('#EstatesSelect');
                        estatesSelect.empty();
                         
                        if (estates != null && !jQuery.isEmptyObject(estates))
                        { 
                            $.each(estates, function (index, item) {
                                estatesSelect.append(
                                    $("<option></option>").attr("value", item.value).text(item.text)
                                );
                            });
                        };
                         $('#EstatesSelect').selectpicker('refresh');
                    });
                }
            });
    </script>
}