@model WebAsada.ViewModels.PersonVM
@inject WebAsada.Services.IYesNoOptions yesNoCollection

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="FirstLastName" class="control-label"></label>
            <input asp-for="FirstLastName" class="form-control" />
            <span asp-validation-for="FirstLastName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SecondLastName" class="control-label"></label>
            <input asp-for="SecondLastName" class="form-control" />
            <span asp-validation-for="SecondLastName" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="IdentificationTypeId" class="control-label"></label>
            <select asp-for="IdentificationTypeId" class="form-control" asp-items="ViewBag.IdentificationTypeId"></select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="IdentificationNumber" class="control-label"></label>
            <input asp-for="IdentificationNumber" class="form-control" />
            <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PersonTypeId" class="control-label"></label>
            <select asp-for="PersonTypeId" class="form-control" asp-items="ViewBag.PersonTypeId"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="TelephoneNumber" class="control-label"></label>
            <input asp-for="TelephoneNumber" class="form-control" />
            <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="EmailAddress" class="control-label"></label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2 vertical-align">
        <div class="form-group">
            <label asp-for="IsActive" class="control-label"></label>
            <select data-live-search="true" asp-for="IsActive" asp-items="yesNoCollection.GetOptions(addDefaultOption:false)" class="form-control"></select>
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>
</div>

<partial name="_UpdateButtons" />   