@model List<WebAsada.ViewModels.PersonItemVM>

<table id="pesonListGrid" class="table table-fluid table-striped">
    <thead>
        <tr>
            <th>Dueño</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model?.Count(); i++)
        {
            <tr>
                <input data-val="true" name="@(ViewData["attributeName"].ToString())[@i].Id" type="hidden" value="@(Model[i].Id)" />
                 
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].DisplayValue)
                </td>
                <td>
                    <a class="deleteFunction" value="@(Model[i].Id)" href="javascript:;">Eliminar</a>
                <td>
            </tr>
        }
    </tbody>
</table> 