@model WebAsada.ViewModels.DetailsChargeTypeVM
@inject WebAsada.Services.IYesNoOptions yesNoCollection

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ChargeTypeCode" class="control-label"></label>
            <input asp-for="ChargeTypeCode" class="form-control" />
            <span asp-validation-for="ChargeTypeCode" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="IsVATCharge" class="control-label"></label>
            <select id="VatCategoryOption" asp-for="IsVATCharge" asp-items="yesNoCollection.GetOptions(addDefaultOption:true)" class="form-control"></select>
            <span asp-validation-for="IsVATCharge" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="VatRate" class="control-label"></label>
            <input id="VatRateInput" disabled asp-for="VatRate" class="form-control" />
            <span asp-validation-for="VatRate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="IsWaterConsume" class="control-label"></label>
            <select data-live-search="true" asp-for="IsWaterConsume" asp-items="yesNoCollection.GetOptions(addDefaultOption:false)" class="form-control"></select>
            <span asp-validation-for="IsWaterConsume" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="IsBaseFare" class="control-label"></label>
            <select data-live-search="true" asp-for="IsBaseFare" asp-items="yesNoCollection.GetOptions(addDefaultOption:false)" class="form-control"></select>
            <span asp-validation-for="IsBaseFare" class="text-danger"></span>
        </div>
    </div>
</div>  