@model WebAsada.ViewModels.MeasurementReportVM

<partial name="_PageTitle" model="@("Generar Facturación")" />
 
<form asp-action="GenerateReceipts"> 
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="MonthNemotecnico" class="control-label"></label>
                <select asp-for="MonthNemotecnico" class="form-control" asp-items="ViewBag.MonthCollection"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 vertical-align">
            <div class="form-group">
                <input type="submit" value="Generar" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

