@model WebAsada.ViewModels.GeneralTableVM
@inject WebAsada.Services.IYesNoOptions yesNoCollection

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Nemotecnico" class="control-label"></label>
            <input asp-for="Nemotecnico" readonly="@(Model != null && Model.Id > 0)" class="form-control" />
            <span asp-validation-for="Nemotecnico" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ShortDesc" class="control-label"></label>
            <input asp-for="ShortDesc" class="form-control" />
            <span asp-validation-for="ShortDesc" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2 vertical-align">
        <div class="form-group">
            <label asp-for="IsActive" class="control-label"></label>
            <select data-live-search="true" asp-for="IsActive" asp-items="yesNoCollection.GetOptions()" class="form-control"></select>
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="LongDesc" class="control-label"></label>
            <textarea asp-for="LongDesc" class="form-control"></textarea>
            <span asp-validation-for="LongDesc" class="text-danger"></span>
        </div>
    </div>
</div>

<partial name="_UpdateButtons" />
