@model WebAsada.ViewModels.ContractVM
@inject WebAsada.Services.IYesNoOptions yesNoCollection 

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ContractTypeId" class="control-label"></label>
                <select data-live-search="true" asp-for="ContractTypeId" class="form-control" asp-items="ViewBag.ContractTypeCollection"></select>
                <span asp-validation-for="ContractTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="EmissionDate" class="control-label"></label>
                <input disabled asp-for="EmissionDate" asp-format="{0:yyyy-MM-dd}" class="form-control" /> 
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="PersonId" class="control-label"></label>
            <select id="PeopleSelect" data-live-search="true" asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonCollection"></select>
            <span asp-validation-for="PersonId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EstateId" class="control-label"></label>
            <select id="EstatesSelect" data-live-search="true" asp-for="EstateId" class="form-control"></select>
            <span asp-validation-for="EstateId" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="MeterId" class="control-label"></label>
            <select asp-for="MeterId" data-live-search="true" class="form-control" asp-items="ViewBag.MeterCollection"></select>
        </div>
    </div>

    @*revisar la forma de leer el valor actual del medidor*@

    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="InitialMeterRead" class="control-label"></label>
            <input asp-for="InitialMeterRead" class="form-control" />
            <span asp-validation-for="InitialMeterRead" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2 vertical-align">
        <div class="form-group">
            <label asp-for="DoubleBasicCharge" class="control-label"></label>
            <select data-live-search="true" asp-for="DoubleBasicCharge" asp-items="yesNoCollection.GetOptions()" class="form-control"></select>
            <span asp-validation-for="DoubleBasicCharge" class="text-danger"></span>
        </div>
    </div><div class="col-md-2 vertical-align">
        <div class="form-group">
            <label asp-for="IsActive" class="control-label"></label>
            <select data-live-search="true" asp-for="IsActive" asp-items="yesNoCollection.GetOptions()" class="form-control"></select>
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>
</div>
<partial name="_UpdateButtons" />

@section Scripts { 
}