@model WebAsada.ViewModels.SystemUserVM

<partial name="_PageTitle" model="@("Modificar Usuario")" />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="../SystemUsers/Partial/_Editor" model="Model" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
