@model WebAsada.ViewModels.PersonVM
<partial name="_PageTitle" model="@("Crear Persona")" />

<div class="row">
    <div class="col-md-11">
        <form asp-action="Create">
            <partial name="../Person/Partial/_Editor" model="Model" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
