@model WebAsada.ViewModels.WaterMeterVM
@inject WebAsada.Services.IYesNoOptions yesNoCollection

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="BougthDate" class="control-label"></label>
                <input asp-for="BougthDate" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                <span asp-validation-for="BougthDate" class="text-danger"></span>
            </div>
        </div> 
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
        </div> 
        <div class="col-md-2 vertical-align">
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <select data-live-search="true" asp-for="IsActive" asp-items="yesNoCollection.GetOptions(addDefaultOption:false)" class="form-control"></select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Comments" class="control-label"></label>
            <textarea rows="2" asp-for="Comments" class="form-control"></textarea>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
    </div>
</div>

<partial name="_UpdateButtons" />